.link {
  color: inherit;
  text-decoration: none;

  &--with-icon {

    &::after {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      background-image: url('@/assets/icons/external-link.svg'); /* Replace with your actual icon URL */
      background-size: cover;
      margin: 0 0 2px 8px;
    }

  }
}